<div class="form-wrapper">
    <h2>Sign Up</h2>
    <form [formGroup]="frmSignUp" (ngSubmit)="submitFormData()">
      <div class="form-group">
        <label for="email">Name <span class="astrik">*</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Full Name"
          id="name"
          formControlName="name"
        />
        <div
          *ngIf="
            this.frmSignUp.get('name').touched &&
            this.frmSignUp.get('name').errors
          "
          class="invalid-field"
        >
          <span *ngIf="this.frmSignUp.get('name').errors.required"
            >Full Name is required</span
          >
  
          <span *ngIf="this.frmSignUp.get('name').errors.pattern"
            >Please enter valid Full Name
          </span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Email address <span class="astrik">*</span></label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email address"
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="
            this.frmSignUp.get('email').touched &&
            this.frmSignUp.get('email').errors
          "
          class="invalid-field"
        >
          <span *ngIf="this.frmSignUp.get('email').errors.required"
            >Email address is required</span
          >
  
          <span *ngIf="this.frmSignUp.get('email').errors.pattern"
            >Please enter valid Email address
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password <span class="astrik">*</span></label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          id="pwd"
          formControlName="pwd"
        />
        <div
          *ngIf="
            this.frmSignUp.get('pwd').touched &&
            this.frmSignUp.get('pwd').errors
          "
          class="invalid-field"
        >
          <span *ngIf="this.frmSignUp.get('pwd').errors.required"
            >password is required</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number <span class="astrik">*</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter password"
          id="phone"
          formControlName="phone"
        />
        <div
          *ngIf="
            this.frmSignUp.get('phone').touched &&
            this.frmSignUp.get('phone').errors
          "
          class="invalid-field"
        >
          <span *ngIf="this.frmSignUp.get('phone').errors.required"
            >Phone number is required</span
          >
  
          <span *ngIf="this.frmSignUp.get('phone').errors.pattern"
            >Please enter valid Phone Number
          </span>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!this.frmSignUp.valid"
      >
        Create Account
      </button>
    </form>
  </div>